@model Barbearia.Models.AGENDA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AGENDA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUTO.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUTO.NOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SERVICO.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SERVICO.NOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATA_INICIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA_INICIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATA_FIM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA_FIM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VALOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VALOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMENTARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMENTARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_CABELELEIRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_CABELELEIRO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
